{% extends '::base.html.twig' %}

{% block body %}

<h3>Static formatter (with hardcoded data)</h3>

{{ static | format_text('markdown') | raw }}

<hr />

<h3>Dynamic formatter (editable in admin)</h3>

<table border="1px solid black;">
	<tr>
		<td>Processed content</td>
		<td>Raw content</td>
	</tr>
	<tr>
		<td>{{ dynamic.content|raw }}</td>
		<td><pre>{{ dynamic.rawContent }}</pre></td>
	</tr>
</table>



{% endblock %}