{% extends "::base.html.twig" %}

{% block body %}
<h3>New Session</h3>

<form action="{{ path('poker_session_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">Create new Session</button> or
        <a href="{{ path('poker_session') }}" class="btn">
            Cancel and back to the sessions list
        </a>
    </p>
</form>


{% endblock %}
