{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="span9"><h3>Session "{{ entity.title }}"</h3></div>
</div>
<div class="row">
    <div class="span9">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="{{ path('poker_session') }}" class="btn">
                    Back to the sessions list
                </a>
            </div>
            <div class="btn-group">
                {% if entity.completed %}
                    <a href="" class="btn">Reopen</a>
                {% else %}
                    <a href="" class="btn">Mark as "completed"</a>
                {% endif %}
            </div>
            <div class="btn-group">
                <a href="" class="btn">Import stories from JIRA</a>
            </div>
            <div class="btn-group">
                <a href="{{ path('poker_session_edit', { 'id': entity.id }) }}" class="btn btn-info">
                    Rename session
                </a>
                <a href="{{ path('poker_session_delete', { 'id': entity.id }) }}" class="btn btn-danger">
                    Delete session
                </a>
            </div>
        </div>
    </div>
</div>
<hr>


{% endblock %}
